ADMIN_PASSWORD=changeme
ADMIN_SESSION_SECRET=some-random-32-char-string
GOOGLE_SERVICE_ACCOUNT_EMAIL=dee-crm@dee-cleaning-company.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1Qz1Cf0CSVlfXmjQJeqzoZ0Oo0pPXwtC-ZgtAP3b3uJw
RESEND_API_KEY=re_SbqFrCTc_5Uh2DwKbaMatD6DGrW2fcukd
PUBLIC_BOOKINGS_WEBHOOK_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID_HERE/exec
